$ancho: 100%;
$alto: 100%;
$colorfondo: #FFE194;
$letra: 'Heebo', sans-serif;
$sizetitulo: 2em;
$colorcajauno:#B5EAEA;
$colorcajados: #90AACB;
$logo: 100%;
$colortitulo:#28527A;
$colorletrauno: #364E68;
$colorletrados: #14279B;
$colorletratres: #151515;
$redes: (
    facebook: 20px,
    instagram: 20px,
    twitter: 20px
);